#mainWindow {
    background: #ECF0F1;
}

#container {
    padding: 15px;
}

#menu #backdrop {
    background: #2C3E50;
    opacity: 0.8;
}

#menu #title {
    font-size: 58px;
    margin-top: 50px;
    margin-bottom: 5px;
    color: #E74C3C;
    text-shadow: 0px 0px 5px #2C3E50;
}

#menu .light {
    color: #ECF0F1;
    font-size: 10px;
    margin-bottom: 10px;
}

#menu #copyright {
    margin-bottom: 125px;
}

#menu #menu-text {
    padding: 20px;
}

#mainGrid {
    border: 2px solid #999;
}

#mainGrid > grid:nth-child(2n+1) {
    background: #E1E5E5;
}

#mainGrid > grid:nth-child(4),
#mainGrid > grid:nth-child(5),
#mainGrid > grid:nth-child(6) {
    border-style: solid;
    border-color: #999;
    border-left-width: 2px;
    border-right-width: 2px;
}


#mainGrid > grid:nth-child(2),
#mainGrid > grid:nth-child(5),
#mainGrid > grid:nth-child(8) {
    border-style: solid;
    border-color: #999;
    border-top-width: 2px;
    border-bottom-width: 2px;
}

#mainGrid > grid > *:nth-child(4) ,
#mainGrid > grid > *:nth-child(5) ,
#mainGrid > grid > *:nth-child(6) {
    border-style: solid;
    border-color: #bbb;
    border-left-width: 1px;
    border-right-width: 1px;
}

#mainGrid > grid > *:nth-child(2),
#mainGrid > grid > *:nth-child(5),
#mainGrid > grid > *:nth-child(8) {
    border-style: solid;
    border-color: #bbb;
    border-top-width: 1px;
    border-bottom-width: 1px;
}

#mainGrid box label {
    min-width: 60px;
    min-height: 60px;
    font-size: 18px;
}

#mainGrid button {
    border-radius: 0;
    border: 0;
    background: transparent;
}

#mainGrid button:hover {
    background: #3498DB;
}

#mainGrid button:active {
    background: #2980B9;
}

#mainGrid button:focus {
    background: #E74C3C;
}

#inputPopover grid button {
    min-width: 20px;
    min-height: 20px;
}

#statusBar {
    padding-top: 15px;
}

